.general{
   
    justify-content: center;
}
.cabeza{
    background-color: burlywood;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    justify-content: center;
    align-items: center;
}
.avatar{
    width: 50px;
    height: 50px;
}